In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder()
spark = SparkSession.newSession()
spark

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)

In [ ]:
spark.sql("show databases").toPandas()

In [ ]:
spark.sql("use real_world_data_jun_2022")
spark.sql("show tables").toPandas()

In [ ]:

spark.sql("select * from tenant_attributes").printSchema()

In [ ]:

spark.sql("""
    select count(distinct tenant) as tenant_cnt
    from tenant_attributes
""").toPandas()

In [ ]:

spark.sql("""
    select speciality, count(distinct tenant) as tenant_cnt
    from tenant_attributes
    group by speciality
    order by tenant_cnt desc
""").toPandas()

In [ ]:

spark.sql("""
    select segment,count(distinct tenant) as tenant_cnt
    from tenant_attributes
    group by segment
    order by tenant_cnt desc
""").toPandas()

In [ ]:

spark.sql("""
    select segment, bed_size,count(distinct tenant) as tenant_cnt
    from tenant_attributes
    group by segment,bed_size
    order by segment,tenant_cnt desc
""").toPandas()

In [ ]:

spark.sql("select * from real_world_data_jun_2022.demographics").printSchema()

In [ ]:
condition = spark.sql("select * from real_world_data_jun_2022.condition limit 5").toPandas()
condition

In [ ]:

spark.sql("select * from real_world_data_jun_2022.condition").printSchema()

In [ ]:

spark.sql("select * from real_world_data_jun_2022.encounter").printSchema()

In [ ]:

encounter = spark.sql("select * from real_world_data_jun_2022.encounter limit 5").toPandas()
encounter

In [ ]:

spark.sql("select * from real_world_data_jun_2022.demographics").printSchema()

In [ ]:

demographics = spark.sql("select * from real_world_data_jun_2022.demographics limit 5").toPandas()
demographics

In [ ]:

spark.sql("""
    select count(*), count(distinct personid) from demographics
""").toPandas()

In [ ]:

spark.sql("use omop_2021_q4")
spark.sql("show tables").toPandas()

In [ ]:

spark.sql("select * from omop_2021_q4.person").printSchema()

In [ ]:

spark.sql("""
    select count(*),count(distinct person_id) from omop_2021_q4.person
""").toPandas()

In [ ]:

spark.sql("create database song_temp_db")
spark.sql("show databases").toPandas()